.modal-header
  %h1 Train Neural Network
.content
  #first_image
    = image_tag "screenshot_1.png", width: 400, height: 400, class: @image_1
  #second_image
    = image_tag "screenshot_2.png", width: 400, height: 400, class: @image_2