.modal-header
  %h1 Show Websites
.container.content
  .row
    .col-md-6= image_tag "screenshot_1.png", width: 400, height: 400, class: @image_1
    .col-md-6= image_tag "screenshot_2.png", width: 400, height: 400, class: @image_2