// Place all the styles related to the neural_network controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.correct {
  border:4px solid green;
}

img {
  margin-bottom: 30px;
}

.incorrect {
  border:4px solid red;
}

.normal {
  border:4px solid black;
}

.spinner {
  display: none;
  position: fixed !important;
  top: 35% !important;
  left: 50% !important;
}